.menu-section
  .title__wrap
    text-align: center
  .content__wrap
    padding-left: 0
    padding-right: 0
    margin-top: 60px
    .box
      display: flex
      flex-direction: column
      +breakpoint-min($min-width-xl)
        flex-direction: row
      & > div
        width: 100%
        +breakpoint-min($min-width-xl)
          width: 50%
      &:nth-child(odd)
        flex-wrap: nowrap
        +breakpoint-min($min-width-xl)
          flex-direction: row-reverse
          flex-wrap: wrap
        
    .box__content
      position: relative
      .box__content--img
        width: 100%
        &::before
          content: ""
          position: absolute
          top: 0
          left: 0
          width: 100%
          height: 100%
          background-color: $gray-deep-dark
          opacity: 0.85
      .box__content--top
        position: absolute
        top: 40%
        left: 50%
        +flex-container(center, start)
        flex-direction: column-reverse
        writing-mode: vertical-lr
        +size(100%, 75%)
        text-orientation: mixed
        transform: translate(-50%, -40%)
        +breakpoint-min($min-width-xl)
          +size(100%, 44%)
        .box__content--subtitle
          margin-left: 10px
          font-family: sans-serif
          letter-spacing: 0.8px
          color: $gray-deep-light
        .box__content--title
          position: relative
          +flex-container(center)
          +size(24%, 70%)
          margin-left: 60px
          background-color: rgba(0, 0, 0, 0.6)
          +breakpoint-min($min-width-xl)
            +size(130px, 270px)
          h3
            margin-top: -14px
          &::before,
          &::after
            content: ""
            position: absolute
            width: 82%
            height: 90%
            border: 1px solid rgba(255, 255, 255, 1)
          &::before
            top: 3.5%
            left: 5.5%
          &::after
            top: 5.5%
            left: 10.5%
        .box__content--paragraph
          margin-top: 4px
          // 調整該自行直行間距問題
          font-family: serif !important
          font-size: 14px
          letter-spacing: 6px
          line-height: 30px
          +breakpoint-min($min-width-xl)
            font-size: 18px
            letter-spacing: 9px

      .box__content--bottom
        position: absolute
        bottom: 4%
        left: 50%
        transform: translateX(-50%)
        +breakpoint-min($min-width-xl)
          bottom: 8%