section.access-section.full-parent
  .layout--main
    .section__wrap 
      .section__zone
        .decor__wrap
          iframe(src='https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12965.016565175953!2d139.7687487!3d35.6707438!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188bed884cfe7b%3A0x30bb827c2d8dabec!2z6YqA5bqn44GX44KT44Gu44GG!5e0!3m2!1sja!2stw!4v1678115947479!5m2!1sja!2stw' width='100%' height='520' style='border:0;' allowfullscreen='' loading='lazy' referrerpolicy='no-referrer-when-downgrade')
        .text__wrap 
          .text__box
            h5 ACCESS 
            h2 お問い合わせ
            ul.list
              li.list__item
                .list__item--left お問い合わせ＆予約
                .list__item--right 03-6264-3412
                .list__item--btn
                  .view-more 
                    a(href="") 予約はこちらから

              li.list__item
                .list__item--left 住所
                .list__item--right 
                  span 【東京都中央区】
                  | 銀座3-11-7 鶴見ビル

              li.list__item
                .list__item--left アクセス
                .list__item--right 
                  div
                    span 【東京メトロ各線】
                    | 銀座駅 徒歩5分
                  div
                    span 【東京メトロ日比谷線】
                    | 東銀座駅 徒歩3分

              li.list__item
                .list__item--left 営業時間
                .list__item--right 
                  div
                    span 【平日・土】
                    | ランチ 11:30～15:00 (L.O.14:30)
                  div
                    span 【平日・土】
                    | ディナー 17:00～23:00 (L.O.22:00)
                  div
                    span 【定休日】
                    | 日曜日と祝日