section.about-section
  .layout--main
    .section__wrap 
      .section__zone
        .decor__wrap
          .decor__wrap--left
            img(src="assets/current/about-section-left.jpg", alt="")
          .decor__wrap--right
            img(src="assets/current/about-section-right.jpg", alt="")
        .text__wrap 
          .text__box
            h5 ABOUT 
            h2 銀座しんのうについて
            p
              | 東銀座の裏路地にひっそりと佇む一軒家。
              br
              | オリジナル薬酒を30種類以上揃え、女性を中心に幅広い年齢層に喜ばれております。
              br
              | 選りすぐりの薬膳をご自宅でも気軽に味わっていただきたく、
              br
              | 美味しさはそのままに、どこでも楽しめる商品をご用意いたしました。
            .view-more 
              a(href="") view more