
include ./include/header.pug

.decor__bg.full-parent
  .swiper.mySwiper
    ul.swiper-wrapper
      li.swiper-slide
        img(src='assets/current/hero-slider-1.jpg')
      li.swiper-slide
        img(src='assets/current/hero-slider-2.jpg')
      li.swiper-slide
        img(src='assets/current/hero-slider-3.jpg')
      li.swiper-slide
        img(src='assets/current/hero-slider-4.jpg')
      li.swiper-slide
        img(src='assets/current/hero-slider-5.jpg')
    .swiper-pagination

include ./home/hero-section.pug
include ./home/about-section.pug
include ./home/rec-section.pug
include ./home/menu-section.pug
include ./home/access-section.pug