include ./include/header.pug

main.menu
  section
    .section__wrap.layout--main
      .section__zone
        .swiper.mySwiper#menuSwiper
          ul.swiper-wrapper
            li.swiper-slide
              .decor__wrap
                img(src="assets/current/menu-slider-1.png", alt="")
              .text__wrap
                .text__bg
                .text__box
                  h5 01 DISH
                  h2 料理
                  p
                    span ¥1580円
                    |    ・しんのうサラダ
                    br
                    span ¥680円
                    |    ・パン・デ薬膳（スパイスパウンドケーキ）
                    br
                    span ¥2680円
                    |   ・タンドリーチキン
                  .view-more 
                    a(href="") ALL DISH MENU
            li.swiper-slide
              .decor__wrap
                img(src="assets/current/menu-slider-2.png", alt="")
              .text__wrap
                .text__bg
                .text__box
                  h5 02 LUNCH
                  h2 ランチ
                  p
                    span ¥1500円
                    |   ・薬膳チーズキーマカレー
                    br
                    span ¥1200円
                    |   ・薬膳キーマカレー
                    br
                    span ¥1600円
                    |   ・サムゲタン御膳
                  .view-more 
                    a(href="") ALL DISH MENU
            li.swiper-slide
              .decor__wrap
                img(src="assets/current/menu-slider-3.png", alt="")
              .text__wrap
                .text__bg
                .text__box
                  h5 03 DRINK
                  h2 ドリンク
                  p
                    span ¥800円
                    |    ・薬膳茶ハイ
                    br
                    span ¥990円
                    |    ・ジャズベリー
                    br
                    span ¥990円
                    |    ・銀河高原ビール
                  .view-more 
                    a(href="") ALL DISH MENU
            li.swiper-slide
              .decor__wrap
                img(src="assets/current/menu-slider-4.png", alt="")
              .text__wrap
                .text__bg
                .text__box
                  h5 04 COURSE
                  h2 コース
                  p
                    span ¥8,000円
                    |  ・2.5H飲み放題可能[漢方牛のグリエ]薬膳しんのうコース
                    br
                    span 季節に合わせた、体のバランスを整える漢方牛のグリエがメインのコース1〜30名 ・ 11:30～20:00
                    br
                  .view-more 
                    a(href="") ALL DISH MENU

          .swiper-pagination
          .swiper-button-prev
          .swiper-button-next
        
//- footer
include ./include/footer.pug