// Gray series
// ==========================================================================
$gray-deep-dark: rgb(10, 10, 10);
$gray-deep-light: #fff;
$gray-light: rgb(170, 170, 170);

$cta-text: rgb(217, 181, 74);
