.access-section
  height: auto
  .section__wrap
    background-image: linear-gradient(45deg, transparent, transparent)
    background-size: 100%
    background-repeat: no-repeat
  .section__zone
    position: relative
    &::before
      content: ""
      display: block
      width: 100%
      padding-bottom: 80%
  .decor__wrap
    position: absolute
    top: 80%
    left: 50%
    width: 80%
    height: 520px
    transform: translate(-50%, -50%)
  // .map
  //   filter: grayscale(100%) invert(95%)
  .text__wrap
    position: absolute
    top: 34%
    left: 50%
    display: flex
    justify-content: center
    width: 60%
    height: 930px
    background-color: rgba(0, 0, 0, 0.3)
    transform: translate(-50%, -50%)
    .text__box
      display: flex
      flex-direction: column
      justify-content: center
      width: 74%
      height: 100%
      p
        margin-bottom: 60px
        font-size: 18px
        line-height: 50px
        color: $gray-light
          
    &::before,
    &::after
      content: ""
      position: absolute
      width: 95%
      height: 92%
      border: 1px solid $gray-deep-light
      opacity: 0.3
      pointer-events: none
    &::before
      top: 3%
      left: 2%
    &::after
      top: 5%
      left: 3%

  .list__item
    display: flex
    justify-content: space-between
    align-items: start
    padding-top: 24px
    padding-bottom: 24px
    letter-spacing: 0.8px
    border-bottom: 1px solid rgba(255, 255, 255, 0.3)
    .list__item--left
      width: 28%
      font-size: 20px
      letter-spacing: 2px
      line-height: 34px
      text-align: right
    .list__item--right
      width: 72%
      padding-left: 6%
      line-height: 32px
      color: $gray-light
      span
        // display: inline-block
        color: $gray-deep-light
    &:first-child
      border-top: 1px solid rgba(255, 255, 255, 0.3)    
      .list__item--right
        width: 22%
      .list__item--btn
        width: 50%  
      
    
    
