footer
  .layout--main
    .content__wrap
      .footer__top
        .footer__left 
          .footer__left--img
            a(href="")
              img(src="assets/current/nav-logo.png", alt="")
        .footer__middle 
          ul.footer__middle--items
            li 
              a(href="") ABOUT
            li 
              a(href="") MENU
            li
              a(href="")
                img(src="assets/current/icon-Logo.png", alt="")
            li 
              a(href="") ACCESS
            li 
              a(href="") CONTACT
        .footer__right
          .footer__right--img
            a(href="")
              img(src="assets/current/icon-FB.png", alt="")
          .footer__right--img
            a(href="")
              img(src="assets/current/icon-IG.png", alt="")
          .footer__right--img
            a(href="")
              img(src="assets/current/icon-Twitter.png", alt="")
      .footer__bottom
        p &copy; 2023 ginza.shinno
      
