.header.header-scroll#headerScroll
  .header__left 
    .header__box
      .header__left--icon 
        .line
        .line 
        .line 
      .header__left--text MENU
  .header__middle 
    .header__middle--img
      img(src="assets/current/nav-logo.png", alt="")
  .header__right
    .header__right--img
      img(src="assets/current/nav-reservation.png", alt="")
    .header__right--text é ç´„