doctype html
html(lang='zh-Hant-TW')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title 銀座しんのう
  body 

    //- 首頁
    include ./pages/home.pug

    script(src='https://apps.elfsight.com/p/platform.js' defer='')
