footer
  padding-top: 12%
  padding-bottom: 10%
  background-color: $gray-deep-dark
  +breakpoint-min($min-width-xl)
    padding-top: 20px
    padding-bottom: 20px
  .footer__top
    display: block
    justify-content: space-between
    align-items: center
    margin-bottom: 32px
    +breakpoint-min($min-width-xl)
      display: flex
    & > div
      margin-bottom: 40px
      text-align: center
      +breakpoint-min($min-width-xl)
        margin-bottom: 0

  .footer__middle--items
    display: block
    justify-content: space-between
    align-items: center
    +breakpoint-min($min-width-xl)
      display: flex
    & > li
      margin-left: 0
      margin-right: 0
      +breakpoint-min($min-width-xl)
        margin-left: 24px
        margin-right: 24px
      &:first-child
        margin-left: 0
      a:active, a:focus, a:visited
        color: $gray-deep-light
      &:not(:nth-child(3))
        a
          position: relative
          font-family: $font-family-en
          line-height: 40px
          letter-spacing: 1.6px

      &:nth-child(3)
        display: none
        max-width: 40px
        +breakpoint-min($min-width-xl)
          display: block
  .footer__right
    display: flex
    justify-content: center
    align-items: center
    margin-left: auto
    margin-right: auto
    +breakpoint-min($min-width-xl)
      justify-content: space-between
      margin-left: 0
      margin-right: 0
    .footer__right--img
      max-width: 22px
      +margin-x(8%)
      +breakpoint-min($min-width-xl)
        +margin-x(12px)
      &:last-child
        margin-right: 8%
        +breakpoint-min($min-width-xl)
          margin-right: 0

      img
        width: 100%
        +breakpoint-min($min-width-xl)
          width: auto

  .footer__left
    .footer__left--img
      max-width: 192px
      margin-left: auto
      margin-right: auto
      +breakpoint-min($min-width-xl)
        margin-left: 0
        margin-right: 0
      img
        width: 100%
        +breakpoint-min($min-width-xl)
          width: auto

  .footer__bottom
    height: 40px
    padding-top: 0
    padding-bottom: 0
    text-align: center
    +breakpoint-min($min-width-xl)
      padding-top: 10px
      padding-bottom: 10px
    p
      font-size: 12px
      line-height: 40px
      letter-spacing: 1.2px
      margin-left: 0
      +breakpoint-min($min-width-xl)
        margin-left: 12px